@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--primaryColor);
  font-family: 'PT Serif', serif;
}

:root {
  --primaryColor: #0D2A59;
  --secondaryColor: #F3BA44;
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #1d1d1d;
  --primaryBgColor: #DBDBDB;
}

body {
  text-align: center;
  margin: 20px auto;
}

img {
  width: 290px;
  margin-top: 80px;
}

.summary-text {
  font-size: 16px;
  color: var(--primaryTextColor);
  width: 80%;
  margin: 60px auto;
}

.survey-choice-button {
  width: 260px;
  margin: 0 auto;
}

.survey-choice-button p {
  font-size: 32px;
  color: var(--primaryTextColor);
  background: var(--secondaryColor);
  border-radius: 2px;
  padding: 3px 0;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  img {
    width: 200px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 320px) {
  img {
    width: 180px;
  }

  .summary-text {
    margin: 30px auto;
  }

  .survey-choice-button {
    width: 220px;
  }
}
