@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--primaryBgColor);
  font-family: 'PT Serif', serif;
}

:root {
  --primaryColor: #0D2A59;
  --secondaryColor: #F3BA44;
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #1d1d1d;
  --primaryBgColor: #DBDBDB;
}

body {
  margin: 200px auto;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
}

img {
  width: 40%;
  margin: 20px auto 0 auto;
}

.inputs {
  margin-top: 30px;
}

input {
  width: 75%;
  margin: 10px auto;
  border: 1px solid var(--secondaryTextColor);
  padding: 2px;
  font-size: 16px;
}

.login-button {
  border: 0;
  font-size: 18px;
  padding: 10px 25px;
  color: var(--secondaryTextColor);
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
  cursor: pointer;
  width: 50%;
  margin: 15px auto 25px auto;
}

.login-button:hover {
  background: var(--primaryColor);
  color: var(--primaryBgColor);
  transition: 0.3s;
}
