@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--primaryBgColor);
  font-family: 'PT Serif', serif;
}

:root {
  --primaryColor: #0D2A59;
  --secondaryColor: #F3BA44;
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #1d1d1d;
  --primaryBgColor: #DBDBDB;
}

header {
  background: var(--primaryColor);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

header h3 {
  font-size: 28px;
  color: var(--primaryTextColor);
  background: var(--primaryColor);
}

.exit-button {
  position: absolute;
  right: 10px;
  background: var(--primaryColor);
}

.exit-button p {
  color: var(--primaryTextColor);
  background: var(--secondaryColor);
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.main {
  width: 80%;
  margin: 40px auto;
}

.filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 16px;
  padding: 8px 0;
  color: var(--secondaryTextColor);
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background: var(--primaryColor);
  color: var(--primaryBgColor);
  transition: 0.3s;
  border-color: var(--primaryColor);
}

.summary-table {
  margin-top: 20px;
  width: 100%;

}

p {
  font-size: 18px;
  padding: 6px 10px;
}

.headers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
}

.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#category-header {
  font-weight: 700;
}

#average-header {
  font-weight: 700;
  text-align: right;
}

#average {
  text-align: right;
}
