@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--primaryBgColor);
  font-family: 'PT Serif', serif;
}

:root {
  --primaryColor: #0D2A59;
  --secondaryColor: #F3BA44;
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #1d1d1d;
  --primaryBgColor: #DBDBDB;
}

body {
  width: 80%;
  text-align: center;
  margin: 20px auto;
}

.exit-button {
  border: 0;
  font-size: 16px;
  color: var(--secondaryTextColor);
  padding: 5px 15px;
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 130px;
}

.exit-button:hover {
  background: var(--primaryColor);
  color: var(--primaryBgColor);
  transition: 0.3s;
  border-color: var(--primaryColor);
}

.question-text {
  font-size: 26px;
  color: var(--secondaryTextColor);
}

.example-text {
  font-size: 16px;
  color: var(--secondaryTextColor);
  padding: 80px 0;
}

.answer-options button {
  border: 0;
  font-size: 22px;
  padding: 10px 25px;
  margin-bottom: 4px;
  color: var(--secondaryTextColor);
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
  cursor: pointer;
}

.answer-options button:hover {
  background: var(--primaryColor);
  color: var(--primaryBgColor);
  transition: 0.3s;
  border-color: var(--primaryColor);
}

@media only screen and (max-width: 500px) {
  body {
    width: 95%;
    margin: 20px auto 0 auto;
  }

  .exit-button {
    margin-bottom: 30px;
  }

  .question-text {
    font-size: 20px;
  }

  .example-text {
    padding: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .example-text {
    display: none;
  }

  .question-text {
    margin-bottom: 30px;
  }

  .answer-options {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    margin-left: 50px;
    }

  .answer-options button {
    width: 200px;
  }
}
